@{
    ViewData["Title"] = "Home";
}
<br>
<br>
<p>IP: </p>
<input type="text" size="20" id="ip" disabled="disabled" value=@ViewData["IP"]>
<br>
<br>
<body>
    <div>
        <button onclick="Enviar()">Enviar</button>
    </div>
</body>


